.image-elsa {
    display: inline-block;
    border-radius: 5px;
    height: 420px;
    width: 280;
    margin: 15px;
    float: left;
}

#About p {
    margin-left: 30px;
    margin-right: 30px;
}

#About {
    display: inline-block;
    flex-direction: row;
}

.facebook-icon {
    height: 20px !important;
    width: 20px !important;
    border: 0;
    border-radius: 5px;
    text-align: center;
}

.youtube-icon {
    height: 20px !important;
    width: 20px !important;
    border: 0;
    align-items: center;
    margin-left: 8px;
}

.instagram-icon {
    height: 20px !important;
    width: 20px !important;
    border: 0;
    align-items: center;
    margin-left: 8px;
}

@media only screen and (max-width: 500px) {
    .image-elsa {
        float: none;
    }
}
