ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
}

li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;

}

li a {
    color: white;
    text-decoration: none;
    padding: 14px 10px;
}

li a:hover {
    background-color: rgb(139, 135, 135);
}
