ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
    display: flex;
    justify-content: space-around;    
}

ul li {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    flex-basis: auto;
}

li a {
    color: white;
    text-decoration: none;
    padding: 14px 10px;
}

.navBar ul li a:hover { 
    cursor: pointer;
    color: white;
}

/************** Secondary-menu *********/
.dropBtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding-bottom: 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    overflow: hidden;
    font-size: 1em;
}

.dropDown-content {
    display: none;
    background-color: #ddd;
    min-width: 160px;
    color: black;
    margin: 30px 0;
}

.dropBtn:hover ul li a {
    display: block;
    color: black;
}

.secondary-menu {
    display: block;
    position: absolute;
    float: left;
    z-index: 1;
    margin: 5px auto;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    li a, .dropBtn {
        font-size: .95em;
        padding: 3px;
    }

    ul li {
        height: 20px;
        line-height: 20px;
    }

    .dropBtn a {
        top: 62px;
    }

    .dropDown-content {
        margin: 10px 0;
        padding: 5px;
    }
}
